textarea{
    height:5rem;
    border-color:red;
    width: 80%;
    align-self: center;
    padding:1rem 1rem;
    
}

body {
    text-align: center;
}

button{
    height:4rem;
    border-color:black;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: larger;
}

#output{
    border:1px solid black;
    height:5rem;
    width: 80%;
    align-self: center;
    padding:1rem 1rem;
    margin: auto;
}